{% extends "base.html" %}
{% load static %}

{% block title %}Sing in{% endblock %}

{% block content %}




<main>
    <div class="container">

        <form method="post" action="" onsubmit="ferPost(event)" style="max-width: 600px; margin: auto">
            {% csrf_token %}

            <h1 style="margin-top: 150px" align="center"> Sign In </h1><br>

            <div class="form-group">
                <h4 for="exampleFormControlInput1">Username</h4>
                <input type="text" class="form-control" name="usernameReg" id="usernameReg">
            </div><br>

            <div class="form-group">
                <h4 for="exampleFormControlInput1">Password</h4>
                <input type="password" class="form-control" name="passReg" id="passReg">
            </div>

            <br>
            <div style="display: flex; justify-content: space-between">
                <a href="/logIn" class="btn btn-dark">
                    <svg style="margin-right: 5px; margin-top: -3px" xmlns="http://www.w3.org/2000/svg" width="23"
                        height="23" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                    </svg>
                    I already have an account</a>
                <button type="submit" class="btn btn-dark">Continue
                    <svg style="margin-left: 5px; margin-top: -3px" xmlns="http://www.w3.org/2000/svg" width="23"
                        height="23" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                    </svg>
                </button>
            </div>
            <br>
            <div id="alert"></div>
            <br><br><br><br>
        </form>

    </div>
</main>

{% endblock %}

{% block scripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js"
    integrity="sha512-SuxO9djzjML6b9w9/I07IWnLnQhgyYVSpHZx0JV97kGBfTIsUYlWflyuW4ypnvhBrslz1yJ3R+S14fdCWmSmSA=="
    crossorigin="anonymous"></script>

<script src="{% static 'scripts/js/ajax.js' %}"></script>
<script src="{% static 'scripts/js/dash.js' %}"></script>


<script>

    function ferPost(event) {
        event.preventDefault()

        http.call({
            method: "post",
            url: api.url + "/register",
            object: true,
            headers: [
                {
                    header: "Content-Type",
                    value: "application/json",
                },
            ],
            data: JSON.stringify(
                {
                    "user": document.getElementById("usernameReg").value,
                    "password": document.getElementById("passReg").value
                }
            ),
            error: function (response) {
                document.getElementById("alert").innerHTML = `
                <div class="alert alert-danger d-flex align-items-center " role="alert">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill me-2" viewBox="0 0 16 16">
                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </svg>
                    <div>
                        Aquest usuari ja existeix
                    </div>
                    <div class="flex-fill"> </div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
               `
            },
            success: function (response) {
                console.log(response)
                setCookie("loginToken", response, 4);
                location.href = "/yourDisplays"
            }
        })
    }


</script>

{% endblock %}